ion-tabs {
    .tab-button.has-title.has-icon {
        ion-icon.tab-button-icon.icon {
            margin-top:5px;
            height: auto;
            &:before {
                height: 20px;
                width: 20px;
                display: table;
                margin: auto;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.ion-md-home,
            &.ion-ios-home,
            &.ion-ios-home-outline {
                &:before {
                    content: "";
                    background: $disabled;
                    -webkit-mask-image: url(../assets/icon/icon-home.svg);
                    mask-image: url(../assets/icon/icon-home.svg);
                }
            }
            &.ion-md-construct,
            &.ion-ios-construct-outline,
            &.ion-ios-construct {
                &:before {
                    content: "";
                    background: $disabled;
                    -webkit-mask-image: url(../assets/icon/icon-projetos.svg);
                    mask-image: url(../assets/icon/icon-projetos.svg);
                }
            }
            &.ion-md-heart,
            &.ion-ios-heart-outline,
            &.ion-ios-heart {
                &:before {
                    content: "";
                    background: $disabled;
                    -webkit-mask-image: url(../assets/icon/icon-favoritos.svg);
                    mask-image: url(../assets/icon/icon-favoritos.svg);
                }
            }
            &.ion-md-person,
            &.ion-ios-person-outline,
            &.ion-ios-person {
                &:before {
                    content: "";
                    background: $disabled;
                    -webkit-mask-image: url(../assets/icon/icon-perfil.svg);
                    mask-image: url(../assets/icon/icon-perfil.svg);
                }
            }
        }
        &[aria-selected=true] {
            ion-icon.tab-button-icon.icon {
                &:before {
                    content: "";
                    background: $light-blue;
                }
            }
            .tab-button-text {
                color: $light-blue;
            }
        }

          .tab-button-text {
                margin-top:2px;
                font-size:1rem;
            }
        .tab-button-text {
            color: $disabled;
        }
    }
}