<ion-tabs>
    <ion-tab [root]="homePageTab" [tabTitle]="TAB_SETTINGS.HOME.NAME" [tabIcon]="TAB_SETTINGS.HOME.ICON"></ion-tab>

    <ion-tab [root]="inspirationPageTab" [tabTitle]="TAB_SETTINGS.INSPIRATION.NAME" [tabIcon]="TAB_SETTINGS.INSPIRATION.ICON"></ion-tab>

    <ion-tab [root]="projectPageTab" [tabTitle]="TAB_SETTINGS.PROJECT.NAME" [tabIcon]="TAB_SETTINGS.PROJECT.ICON"></ion-tab>

    <ion-tab [root]="favoritePageTab" [tabTitle]="TAB_SETTINGS.FAVORITE.NAME" [tabIcon]="TAB_SETTINGS.FAVORITE.ICON"></ion-tab>

    <ion-tab [root]="profilePageTab" [tabTitle]="TAB_SETTINGS.PROFILE.NAME" [tabIcon]="TAB_SETTINGS.PROFILE.ICON"></ion-tab>
</ion-tabs>
