page-dashboard {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            border-radius: 0;
            box-shadow: none;
            height: 10.5rem;
            &:first-child {
                margin-top: 0;
            }
            .card-img {
                height: 10.5rem !important;
                &:before {
                    content: '';
                    background: rgba(0, 0, 0, .5);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 1
                }
                img {
                    z-index: 0;
                    @include tablet {
                        top: -50%;
                        position: relative;
                    }
                }
            }
            &.half-card {
                @include tablet {
                    width: calc(50% - 18px);
                    display: inline-block;
                    float: left;
                    &.left {
                        margin-right: 6px;
                    }
                    &.right {
                        margin-left: 6px;
                    }
                    .card-img {
                        img {
                            height: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }
        .card-icon {
            position: absolute;
            top: 23%;
            width: 100%;
            z-index: 3;
            img {
                height: 50px;
                display: table;
                margin: auto;
                @include tablet {
                    height: 80px;
                }
            }
        }
        .card-title {
            position: absolute;
            top: 65%;
            font-size: 1.3rem;
            line-height: 1.5rem;
            width: 100%;
            font-weight: bold;
            color: #fff;
            z-index: 3;
            @include tablet {
                top: 70%;
            }
        }
    }
}
