<ion-header>
    <ion-navbar>
        <ion-title><img src="assets/images/deca-logo.svg" alt="Logo Deca"></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d0e', image: {large: 'assets/images/dashboard/bkg-banheiro.jpg'}, url: null, type: 'environment', name: 'Banheiro' })">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-banheiro.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-banheiro.svg" alt=""></div>
        <div class="card-title">BANHEIRO</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d0e', image: {large: 'assets/images/dashboard/bkg-banheiro.jpg'}, url: null, type: 'environment', name: 'Banheiro' })">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-banheiro.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-banheiro.svg" alt=""></div>
        <div class="card-title">BANHEIRO</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d0f', image: {large: 'assets/images/dashboard/bkg-cozinha.jpg'}, url: null, type: 'environment', name: 'Cozinha' })" class="half-card left">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-cozinha.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-cozinha.svg" alt=""></div>
        <div class="card-title">COZINHA</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d10', image: {large: 'assets/images/dashboard/bkg-aexterna.jpg'}, url: null, type: 'environment', name: 'Área de Serviço/Externa' })" class="half-card right">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-aexterna.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-aexterno.svg" alt=""></div>
        <div class="card-title">ÁREA DE SERVIÇO/ EXTERNO</div>
    </ion-card>

    <ion-card (click)="goTo({refId: null, image: {large: 'assets/images/dashboard/bkg-inspiracao.jpg'}, url: 'inspiration', type: 'page', name: 'Inspiração' })">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-inspiracao.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-inspiracao.svg" alt=""></div>
        <div class="card-title">INSPIRAÇÃO</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58b84e717122ff13789f0ed1', image: {large: 'assets/images/dashboard/bkg-acessibilidade.jpg'}, url: null, type: 'category', name: 'Acessibilidade' })" class="half-card left">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-acessibilidade.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-acessibilidade.svg" alt=""></div>
        <div class="card-title">ACESSIBILIDADE</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58b85aba7122ff13789f0ed9', image: {large: 'assets/images/dashboard/bkg-uso-publico.jpg'}, url: null, type: 'category', name: 'Uso Público' })" class="half-card right">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-uso-publico.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-usopublico.svg" alt=""></div>
        <div class="card-title">USO PÚBLICO</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d12', image: {large: 'assets/images/dashboard/bkg-hidraulica.jpg'}, url: null, type: 'environment', name: 'Instalação Hidráulica' })" class="half-card left">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-hidraulica.jpg" />
        </div>

        <div class="card-icon"><img src="assets/icon/icon-hidraulica.svg" alt=""></div>
        <div class="card-title">HIDRÁULICA</div>
    </ion-card>

    <ion-card (click)="goTo({refId: '58a5c86b8f764f1c51824d11', image: {large: 'assets/images/dashboard/bkg-pecas-reposicao.jpg'}, url: null, type: 'environment', name: 'Peça de reposição' })" class="half-card right">
        <div class="card-img">
            <img src="assets/images/dashboard/bkg-pecas-reposicao.jpg" />
        </div>
        <div class="card-icon"><img src="assets/icon/icon-peca-reposicao.svg" alt=""></div>
        <div class="card-title">PEÇAS DE REPOSIÇÃO</div>
    </ion-card>
</ion-content>
