page-category {
    #category-header-image {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
        }
        p {
            position: absolute;
            left: 10px;
            top: 10px;
            color: $white;
            margin: 0;
            padding: 0;
            font-size: .8rem;
        }
    }
    .category-list-container {
        background: $white;
        padding: 10px;
        position: relative;
        border: solid 1px $light-gray;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .clc-title {
            background: $light-blue;
            padding: 5px;
            display: block;
            position: relative;
            color: $white;
            font-size: 1rem;
            position: absolute;
            left: 0;
            max-width: 90%;
            bottom: -30px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include tablet {
                padding: 10px;
            }
            .clc-description {
                display: block;
                font-size: .8rem;
                color: $ice;
            }
        }
    }
}