<ion-header id="ion-header-deca">
    <ion-navbar>
        <ion-title>{{enviroment.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div id="category-header-image">
        <img [src]="enviroment.image?.large" alt="">
        <p>Arquiteto Deca</p>
    </div>

    <ion-grid id="grid-mobile">
        <ion-row wrap>
            <ion-col width-33 (click)="goTo(cat)" *ngFor="let cat of categories">
                <div class="category-list-container">
                    <img [src]="cat.image.medium" alt="">
                    <!--<ion-img [src]="cat.image.medium"></ion-img>-->
                    <p class="clc-title">{{cat.name}}
                      <small class="clc-description">{{cat.count}} produtos</small>
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--<a >Lista de Produtos</a>-->

</ion-content>
