// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

//FONTS
$font-regular : "PFSquareSansRegular", Arial, Verdana, sans-serif;
$font-medium : "PFSquareSansMedium", Arial, Verdana, sans-serif;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  white:    #ffffff,
  primary:    #00B4C8,
  primary-button: (base:#00B4C8, contrast:#ffffff),
  secondary:  #00708A,
  secondary-button: (base: #00708A, contrast: #ffffff),
  facebook-button: (base: #3B5998, contrast: #ffffff),
  facebook-border: #223E77,
  soft-green:    #00AFA0,
  light-green: #9BC83A,
  dark-gray:  #585C5C,
  background-gray: #F9F9F9,
  background-border-gray: #E0E0E0,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

ion-app.ios{
  font-family:$font-regular !important;
  ion-icon{font-size:2rem;}
  .text-input-ios{margin:11px 8px 11px 8px;}
  .button-ios{height: 3rem;}
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

ion-app.md{
  font-family:$font-regular !important;
  .bar-buttons-md{order:1;}
  .bar-buttons-md[end]{order:5;}
  ion-icon{font-size:2rem;}
  .button-md{height: 3rem;}
  .toolbar-title-md{text-align:center;}
}

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@font-face {font-family: PFSquareSansRegular;src: url(../assets/fonts/PFSquareSansPro-Regular.otf);}
@font-face {font-family: PFSquareSansMedium;src: url(../assets/fonts/PFSquareSansPro-Medium.otf);}
