<ion-content>
    <ion-toolbar id="welcome-toolbar">
      <ion-buttons start>
        <button ion-button icon-only (click)="skipWelcome()" *ngIf="slides.isBeginning()">
          <ion-icon name="md-home"></ion-icon>
        </button>
        <button ion-button icon-only (click)="prevSlide()" *ngIf="!slides.isBeginning() && !slides.isEnd()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title><img src="assets/images/logo-white.svg" alt="Logo Deca"></ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="nextSlide()" *ngIf="validateNext() && !slides.isEnd()">
          <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <div class="header-image"> <img src="assets/images/welcome/wizard-welcome-home.jpg" /> </div>
        <h2 class="slide-title">Seja bem vindo.</h2>
        <p class="slide-description">A fim de proporcionar uma melhor experiência para você em nosso aplicativo, gostariamos de fazer algumas perguntas para saber qual o seu perfil.</p>
      </ion-slide>
      <ion-slide class="ion-slide-background">
        <div class="flex-vertical-center">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="slide-title st-center">Selecione uma opção</h2>
                <h2 class="slide-subtitle">Sou profissional da área?</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <div class="persona-select-box"
                  [ngClass]="{'selected': userSignup.accessProfile == 1, 'not-selected': userSignup.accessProfile == 2}"
                  (click)="selectAccessProfile(1)">
                  <div class="psb-image architect">
                  </div>
                  <div class="psb-description">
                    Sim
                  </div>
                </div>
              </ion-col>
              <ion-col width-50>
                <div  class="persona-select-box"
                  [ngClass]="{'selected': userSignup.accessProfile == 2, 'not-selected': userSignup.accessProfile == 1}"
                  (click)="selectAccessProfile(2)">
                  <div class="psb-image user">
                  </div>
                  <div class="psb-description">
                    Não
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide class="ion-slide-background">
        <div class="flex-vertical-center">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="icon-welcome-register">
                  <ion-icon name="ios-mail-outline"></ion-icon>
                </div>
                <h2 class="slide-title st-center">Nos informe um email</h2>
                <ion-input type="email" required placeholder="Digite seu e-mail" [(ngModel)]="userSignup.email" name="email"></ion-input>
                <span class="text-divider">
                  <b>ou</b>
                </span>
                <button ion-button color="facebook-button" (click)="signupFacebook()"> <ion-icon name="logo-facebook"></ion-icon> ENTRAR COM FACEBOOK</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide class="ion-slide-background">
        <div class="flex-vertical-center">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="icon-welcome-register">
                  <ion-icon ios="md-key" md="md-key"></ion-icon>
                </div>
                <h2 class="slide-title st-center">Agora escolha sua senha</h2>
                <div class="view-password-box">
                  <ion-input
                    type="password"
                    required
                    placeholder="Digite uma senha"
                    [(ngModel)]="userSignup.password"
                    name="password"></ion-input>
                  <a class="button-view-password" href="#">
                    <ion-icon ios="md-eye" md="md-eye"></ion-icon>
                  </a>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide class="ion-slide-background">
        <div class="flex-vertical-center">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="icon-welcome-register">
                  <ion-icon ios="ios-person" md="ios-person"></ion-icon>
                </div>
                <h2 class="slide-title st-center">Qual seu nome completo?</h2>
                <ion-input type="text" required placeholder="Digite seu nome completo" [(ngModel)]="userSignup.name" name="name"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

    <!--<ion-slide class="ion-slide-background">
      <div class="flex-vertical-center">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 class="slide-title st-center">Tudo certo!</h2>
              <button ion-button (click)="signupEmail(userSignup)"> Vamos lá</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>-->

    <!--<ion-slide class="ion-slide-background">
      <div class="flex-vertical-center">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 class="slide-title st-center">Quais estilos está buscando?</h2>
              <ion-list id="list-welcome-style" no-lines>
                <button ion-item class="selected">
                  Contemporâneo
                </button>

                                <button ion-item>
                  Tradicional
                </button>

                                <button ion-item class="selected">
                  Industrial
                </button>

                                <button ion-item class="selected">
                  Moderno
                </button>

                                <button ion-item>
                  Rústico
                </button>

                                <button ion-item>
                  Todos
                </button>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>-->

    <ion-slide>
      <img src="assets/images/welcome/wizard-welcome-end.jpg" />
      <h2 class="slide-title">Obrigado.</h2>
      <p class="slide-description">As informações coletadas, nos auxiliará a proporcionar um melhor direcionamento para suas futuras pesquisas e buscas
        por inspirações.</p>

      <button (click)="skipWelcome()" class="btn-end-welcome" ion-button icon-left clear color="white">
        <ion-icon ios="md-home" md="md-home"></ion-icon> Ir para Home
      </button>

        </ion-slide>

    </ion-slides>
</ion-content>
