page-welcome {
    ion-content.content {
        background: color($colors, primary, base);
        
        #welcome-toolbar {
            position: absolute;
            .toolbar-background {
                background: transparent;
                border-color: transparent;
            }
            ion-buttons {
                ion-icon {
                    color: color($colors, white, base);
                    font-size: 2rem;
                }
            }
            ion-title {
                img {
                    height: 20px;
                    top: 4px;
                    position: relative;
                    @include tablet {
                        height: 30px;
                        top: 8px;
                        position: relative;
                    }
                }
            }
        }
        .header-image {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 52px;
                background: rgba(23, 23, 23, 0.69);
                background: -moz-linear-gradient(top, rgba(23, 23, 23, 0.69) 0%, rgba(31, 31, 31, 0.39) 0%, rgba(221, 221, 221, 0) 85%, rgba(255, 255, 255, 0) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23, 23, 23, 0.69)), color-stop(0%, rgba(31, 31, 31, 0.39)), color-stop(85%, rgba(221, 221, 221, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
                background: -webkit-linear-gradient(top, rgba(23, 23, 23, 0.69) 0%, rgba(31, 31, 31, 0.39) 0%, rgba(221, 221, 221, 0) 85%, rgba(255, 255, 255, 0) 100%);
                background: -o-linear-gradient(top, rgba(23, 23, 23, 0.69) 0%, rgba(31, 31, 31, 0.39) 0%, rgba(221, 221, 221, 0) 85%, rgba(255, 255, 255, 0) 100%);
                background: -ms-linear-gradient(top, rgba(23, 23, 23, 0.69) 0%, rgba(31, 31, 31, 0.39) 0%, rgba(221, 221, 221, 0) 85%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(to bottom, rgba(23, 23, 23, 0.69) 0%, rgba(31, 31, 31, 0.39) 0%, rgba(221, 221, 221, 0) 85%, rgba(255, 255, 255, 0) 100%);
            }
        }
        .slide-zoom {
            height: 100%;
        }
        .slide-title {
            color: color($colors, white, base);
            text-align: left;
            padding: 0 40px;
            font-family: $font-medium;
            font-size: 1.5rem;
            line-height: 1.8rem;
            &.st-center {
                text-align: center;
            }
        }
        .slide-subtitle {
            color: color($colors, secondary, base);
            font-size: 2rem;
            line-height: 2.3rem;
            text-align: center;
            font-family: $font-medium;
        }
        .slide-description {
            color: color($colors, white, base);
            padding: 0 40px;
            text-align: left;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: color($colors, white, base);
            font-weight: bold;
            b {
                color: #000000;
            }
        }
        .persona-select-box {
            display: block;
            width: 100%;
            border: solid 3px transparent;
            border-radius: 14px;
            overflow: hidden;
            .psb-image {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                &.architect {
                    background: url('../assets/images/welcome/wizard-welcome-architect.jpg');
                    background-size: cover;
                    height: 30vh;
                    background-position: center;
                }
                &.user {
                    background: url('../assets/images/welcome/wizard-welcome-user.jpg');
                    background-size: cover;
                    height: 30vh;
                    background-position: center;
                }
            }
            .psb-description {
                background: color($colors, secondary, base);
                color: color($colors, white, base);
                border-radius: 0 0 10px 10px;
                padding: 5px 0;
                text-align: center;
                font-family: $font-medium;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
            &.selected {
                border: solid 3px color($colors, light-green, base);
            }
            &.not-selected {
                border: solid 3px color($colors, primary, base);
                .psb-image {
                    -webkit-filter: blur(2px);
                    -moz-filter: blur(2px);
                    -o-filter: blur(2px);
                    -ms-filter: blur(2px);
                    filter: blur(2px);
                    transition: .5s -webkit-filter ease-in-out;
                }
            }
        }
        .icon-welcome-register {
            $squareIWG: calc(100vw / 2.5);
            width: $squareIWG;
            height: $squareIWG;
            background: color($colors, primary, base);
            display: flex;
            justify-content: center;
            margin: auto;
            border-radius: 50%;
            -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.15);
            ion-icon {
                font-size: 7rem;
                color: color($colors, white, base);
                align-self: center;
            }
        }
    }
    .view-password-box {
        position: relative;
        z-index: 0;
        @include tablet {
            max-width: 350px;
            margin: auto;
        }
        input {
            padding: 0 40px 0 10px;
        }
        .button-view-password {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -14.5px;
            z-index: 1;
            @include tablet {
                margin-top: -20.5px;
            }
        }
    }
}

.ion-slide-background {
    background: url('../assets/images/welcome/wizard-welcome-background.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    ion-input {
        background: color($colors, white, base);
        border-radius: 3px;
        @include tablet {
            max-width: 350px;
            margin: auto;
        }
    }
    .text-divider {
        width: 100%;
        margin-top: 20px;
        display: block;
        position: relative;
        b {
            padding: 5px 10px;
            background: color($colors, primary, base);
            position: relative;
            color: color($colors, white, base);
        }
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -35%;
            top: 50%;
            background: color($colors, white, base);
            width: 70%;
            height: 1px;
            z-index: 0;
        }
    }
    .button.button-default {
        margin-top: 1.8rem;
        border: solid 1px color($colors, facebook-border, base);
        .button-inner {
            font-size: 1.2rem;
            height: 3rem;
            ion-icon {
                margin-right: 10px;
            }
        }
    }
    #list-welcome-style {
        button {
            background: color($colors, secondary, base);
            border: solid 2px color($colors, primary, base);
            color: color($colors, white, base);
            padding: 0;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 35px;
            min-height: auto;
            font-size: 1.2rem;
            line-height: 1.6rem;
            @include tablet {
                max-width: 350px;
                margin: auto;
                margin-bottom: 15px;
            }
            .item-inner {
                background-image: none;
                padding: 0;
            }
            &.selected {
                background: lighten(color($colors, secondary, base), 5%);
                transition: background linear .3s;
                border: solid 2px color($colors, light-green, base);
            }
        }
    }
}

.btn-end-welcome {
    position: absolute;
    bottom: 30px;
    width: 300px;
    margin-left: -150px;
    .button-inner {
        ion-icon {
            position: relative;
            top: -3px;
        }
    }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    position: fixed;
    .swiper-pagination-bullet {
        background: color($colors, secondary, base);
        opacity: .3;
        &.swiper-pagination-bullet-active {
            opacity: 1;
            background: color($colors, white, base);
        }
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .not-selected {
        .psb-image{
            -webkit-backdrop-filter: blur(2px); //Blurs bg behind it
        }
    }
}