$white: #ffffff;
$swhite: #fcfcfc;
$light: #f5f5f5;
$background: #f9f9f9;
$black: #000000;
$light-blue: #00b4c8;
$blue: #00708a;
$ice: #00f3ff;
$dark-blue: #00435f;
$light-gray: #e8e8e8;
$soft-gray: #999999;
$gray: #585c5c;
$soft-green: #22b573;
$soft-red: #c1272d;
$disabled: #cfcfcf;
$disabled-background: #cccccc;
$gplus: #af3b2a;
$facebook :#425793;
$orange: #ff910c;
$dark-orange: #bc5e00;