.tabs-ios {
    .tab-button {
        min-height: 49px;
    }
}

.header-ios::after,
.tabs-ios[tabsPlacement="top"]>.tabbar::after,
.footer-ios::before,
.tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
}