.toolbar-md {
    min-height: auto;
    text-align: center;
    .title {
        padding: 0;
    }
}

.tabs-md {
    .tab-button {
        min-height: 49px;
    }
}

page-welcome{
    ion-content.content-md{
        .scroll-content{
            padding-bottom:0 !important;
        }
    }
}