$iphone5-width: 320px;
$iphone6plus-width: 412px;
$tablet-width:768px;
$desktop-width:3024px;
$plus:3024px;
@mixin xsmobile {
    @media (min-width:#{$iphone5-width}) and (max-width:#{$iphone6plus-width - 1px}) {
        @content;
    }
}

@mixin lgmobile {
    @media (min-width:#{$iphone6plus-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin plus {
    @media (min-width:#{$desktop-width}) and (max-width: #{$plus}) {
        @content;
    }
}