// http://ionicframework.com/docs/v2/theming/
@import "material-reset";
@import "ios-reset";
@import "media-queries";
@import "animations";
@import "colors";
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Global
html {
    font-size: 14px !important;
    ion-content.content {
        background: $background;
    }
    @include tablet {
        font-size: 20px !important;
    }
}

.fixed-content{
    z-index: 2;
    bottom:initial;
}

.back-button {
    min-height: 20px;
    height: 20px;
    padding-left:10px;
    margin-left:0;
    position: relative;
    z-index: 1;
   .button-inner{
           justify-content: flex-start;
        ion-icon.icon{
        font-size:1.5rem;
        color:$white;

        &.back-button-icon-md{
            padding:0;
        }
    }
   }
}

ion-header {
    ion-navbar {
        height: 44px;
        @include tablet{
            height: 66px;
        }
        .toolbar-background {
            border-width: 0 !important;
        }
        ion-title {
            text-align: center;
            padding:0 40px 1px;
            .toolbar-title{
           font-size: 1.5rem;
            }
            img {
                height: 30px;
                padding-top: 5px;
                @include tablet{
                    height: 40px;
                }
            }
        }
    }
}

.flex-vertical-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    z-index: 0;
}

#ion-header-deca {
    ion-navbar {
    
        .toolbar-background {
            background: $light-blue;
        }
        .toolbar-content {
            ion-title.title {
                .toolbar-title {
                    color: $white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#grid-mobile {
    ion-row {
        ion-col[width-33] {
            @include xsmobile {
                -webkit-flex: 0 0 50%;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

.has-filter {
    position: relative;
    top: 50px;
    @include tablet {
        top: 60px;
    }
}

#header-filter {
    background: $swhite;
    border-bottom: solid 1px $light-gray;
    width: 100%;
    height: 50px;
    z-index: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    @include tablet {
        height: 60px;
    }
    .select-icon {
        top: 3px;
        @include tablet {
            top: 7px;
        }
    }
    ion-select {
        flex: 1;
        min-width: auto;
        display: table;
        padding-top: 14px;
        .select-text {
            float: left;
            min-width: auto;
            display: table;
        }
        .select-icon {
            float: right;
            right: 10px;
        }
        .item-cover {
            position: relative;
        }
    }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    z-index: 0;
}