<ion-header id="ion-header-deca">
    <ion-navbar>
        <ion-title>{{category.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item id="header-filter" ion-fixed>

        <ion-select [(ngModel)]="catSelect1">
            <ion-option selected="true" value="banheiro">Banheiro</ion-option>
            <ion-option value="chuveiro">Chuveiro</ion-option>
            <ion-option value="usopublico">Uso público</ion-option>
            <ion-option value="cozinha">Cozinha</ion-option>
        </ion-select>

        <ion-select [(ngModel)]="catSelect2">
            <ion-option selected="true" value="banheiro">Banheiro</ion-option>
            <ion-option value="chuveiro">Chuveiro</ion-option>
            <ion-option value="usopublico">Uso público</ion-option>
            <ion-option value="cozinha">Cozinha</ion-option>
        </ion-select>

        <ion-select [(ngModel)]="catSelect3">
            <ion-option selected="true" value="banheiro">Banheiro</ion-option>
            <ion-option value="chuveiro">Chuveiro</ion-option>
            <ion-option value="usopublico">Uso público</ion-option>
            <ion-option value="cozinha">Cozinha</ion-option>
        </ion-select>

        <ion-select [(ngModel)]="catSelect4">
            <ion-option selected="true" value="banheiro">Banheiro</ion-option>
            <ion-option value="chuveiro">Chuveiro</ion-option>
            <ion-option value="usopublico">Uso público</ion-option>
            <ion-option value="cozinha">Cozinha</ion-option>
        </ion-select>

    </ion-item>
    <ion-grid id="grid-mobile" class="has-filter">
        <ion-row wrap>
            <ion-col width-33 (click)="goTo(prod)" *ngFor="let prod of products">
                <div class="product-list-container">
                    <img [src]="prod.image.medium" alt="">
                    <!--<ion-img [src]="cat.image.medium"></ion-img>-->
                    <p class="plc-title">{{prod.name}}
                      <small class="plc-description">{{prod.count}} produtos</small>
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
