.product-list-container {
    background: $white;
    padding: 10px;
    position: relative;
    border: solid 1px $light-gray;
    img {
        width: 100%;
    }
}

.plc-title {
    background: $swhite;
    border-left: solid 1px $light-gray;
    border-bottom: solid 1px $light-gray;
    border-right: solid 1px $light-gray;
    padding: 5px;
    display: block;
    position: relative;
    color: $gray;
    font-size: 1rem;
    left: 0;
    max-width: 100%;
    margin: 0;
    @include tablet {
        padding: 10px;
    }
    .plc-description {
        display: block;
        font-size: .8rem;
        color: $blue;
        margin-top: 5px;
    }
}